@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes feedback-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-feedback-marquee {
  animation: feedback-marquee 30s linear infinite;
}
